<div class="container">
    <div class="list-group">

        <a *ngFor="let inc of incs" class="list-group-item">

            <div class="media">
                <span class="label label-danger pull-right">3 Rooms</span>
                <div class="pull-right button">
                    <input type="button" class="btn btn-danger btn-xs" class="pull-right" value="Delete" />
                    <input type="button" class="btn btn-update btn-xs" class="pull-right" value="Edit" />
                </div>
                <!--<div class="checkbox pull-left">
                    <label>
								<input type="checkbox" value="">
							</label>
                </div>-->
                <div class="pull-left">
                    <button (click)="incSelected(inc)" class="btn btn-danger ">Select </button>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{inc.title}}</h4>
                    <p>{{inc.desc}} </p>
                    <p>{{inc.roomName}} </p>
                    <p>{{inc.createdAt|date:'medium'}} </p>
                </div>

            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>