<!--<div class="row ">

    <div class="col-xs-12 col-md-8 em-chat-win  left-side">
        <div *ngFor="let message of messages">
            {{message}}
        </div>

    </div>
    <div class="col-xs-6 col-md-4 em-chat-cont right-side "></div>

</div>
<div class="row">

    <div class="col-xs-18 col-md-12 em-chat-msg ">
        <input [(ngModel)]="message" />
        <button class="pull-right" (click)="sendMessage()">Send</button>
    </div>

</div>-->
<!--
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">-->
<!--
    The idea is to use mostly Bootstrap markup,
    peppered with a few "tr" and "td" classes,
    so you can turn any basic bootstrap panel
    into a columnar panel.
-->
<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="tr">
            <div class="td" style="width:75%;">Messages</div>
            <div class="td" style="width:25%;">People Online</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tr" style="height: 80%;">
            <div class="td">
                <ul>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                    <li>testing</li>
                </ul>
            </div>
            <div class="td">Lorem ipsum </div>
        </div>
        <div class="tr" style="height: 20%;">
            <div class="td" style="width: 100%; border: none;">


                <textarea rows="3" class="form-control" placeholder="Broadcast Message" style="width: 100%;height: 100%;resize: none; "></textarea>

            </div>
            <div class="td" style="padding-top: 10px;"> <input class="btn btn-info" type="button" class="pull-right" value="Search" class="button" />
            </div>
        </div>
    </div>

</div>
<!--</div>
</div>-->