<!--<div class="container">-->
<div class="fixed-height hidden-xs">
    <ul class="breadcrumb">
        <li *ngIf="isRoomSelect" class="completed"><a href="javascript:void(0);">{{bcmsg.areaName}}</a></li>
        <li *ngIf="isRoomSelect" class="completed"><a href="javascript:void(0);">{{bcmsg.roomName}}</a></li>
        <li *ngIf="isIncidentSelected" class="active">><a href="javascript:void(0);">{{bcmsg.incTitle}}</a></li>
        <li *ngIf="isIncidentSelected">

            <div><button (click)="showDialog()" class="btn btn-danger btn-sm">Post Message</button></div>

        </li>
    </ul>
    <p-dialog [(visible)]="display" modal="true" width="400">
        <p-header>
            Enter New Post
        </p-header>


        <form name="form" (ngSubmit)="f.form.valid && createPost()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <label for="title">Post Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
                <div *ngIf="f.submitted && !title.valid" class="help-block">Post Title is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !desc.valid }">
                <label for="title">Post Description</label>
                <textarea class="form-control" name="desc" [(ngModel)]="model.desc" #desc="ngModel" required></textarea>
                <div *ngIf="f.submitted && !desc.valid" class="help-block">Post Description is required</div>
            </div>

            <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !roomName.valid }">
                    <label for="roomName">Room Name</label>
                    <select class="form-control" id="room" name="roomName" [(ngModel)]="model.roomName" #roomName="ngModel" required>
              <option *ngFor="let room of rooms" [ngValue]="room.roomName">{{room.roomName}}</option>
            </select>

                </div>-->

            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Post</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a (click)="hideDialog()" class="btn btn-link">Cancel</a>
            </div>
        </form>

    </p-dialog>

</div>
<!--</div>-->