<div class="col-md-6 col-md-offset-3">
    <h2>New Incident</h2>
    <form name="form" (ngSubmit)="f.form.valid && createIncident()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
            <label for="title">Incident Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">Incident Title is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !desc.valid }">
            <label for="title">Incident Description</label>
            <textarea class="form-control" name="desc" [(ngModel)]="model.desc" #desc="ngModel" required></textarea>
            <div *ngIf="f.submitted && !desc.valid" class="help-block">Incident Description is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !roomName.valid }">
            <label for="roomName">Room Name</label>
            <select class="form-control" id="room" name="roomName" [(ngModel)]="model.roomName" #roomName="ngModel" required>
              <option *ngFor="let room of rooms" [ngValue]="room.roomName">{{room.roomName}}</option>
            </select>

        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Create</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>